h1 {
	font-size: 36px;
	font-weight: bold;
	text-align: left;
}




article {
	background:#F6F6F6;
	line-height: 1.5;
	font-size:18px;
	border-top:1.5;
	border-bottom:1.5;
	font-family:Georgia, Verdana, "Georgia", Serif;
	color:#05080C;
	margin-left:10px;
	border-bottom: 5px solid #222222;
	border-top: 5px solid #222222;

}
img{
	float:right;
	margin-left:30px;
	margin-right:30px;
	margin-bottom:10px;
}

td {
    padding: 12px;
    text-align: left;
    background-color:222222;

}
th{
	color:white;
	padding: 12px;
    text-align: center;

}

